<form [formGroup]="dash_form" (ngSubmit)="submit()">
  <div class="row">
      
  
     
      <div class="col-md-5 row">
        <div class="col-md-12"><label for="name" class= "form-label">Date: </label></div>
        <div class="col-md-12"><input type="date"  formControlName="date" class="form-control"></div>
        
        
      
      
    </div>
    <div class="col-md-2 row">
      <div class="col-md-12"><br></div>
        <div class="col-md-12"> <button type="submit" style="margin-top: 6px;" class="btn btn-primary">Submit</button></div>
  </div>
  </div>
  <br>
  </form>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Agent</th>
        <th scope="col">Total</th>
        <th scope="col">processed</th>
        <th scope="col">Not in use</th>
        <th scope="col">Percentage</th>
        
        <th scope="col">Eligibility</th>
        <th scope="col">Non Eligibility</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list_data; let i =index">
        <th scope="row">{{item.agent_id
        }}</th>
        <td>{{item.total}}</td>
        <td>{{item.processed}}</td>
        <td>{{item.not_in_use}}</td>
        <td>{{item.percentage}}%</td>
        
        <td>{{item.eligibility}}</td>
        <td>{{item.eligibility_non}}</td>
        
        
        
      </tr>
     
    </tbody>
  </table>
  <!-- <div >
    {{title}}
  </div> -->